<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" debug="true">
    <head>
        {% load staticfiles %}

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script src={% static "robotics_scoreboard/jquery-1.11.2.js" %} type="text/javascript"></script>
        <script src={% static "robotics_scoreboard/tinysort.js" %} type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href={% static 'robotics_scoreboard/leaderboard.css' %} media="screen" />

        <title>IEEE Robotics Leaderboard</title>
    </head>

    <body>

        <div id="scoreboard">
            <div id="round"><a href="http://127.0.0.1:8000/robotics_scoreboard/round3" accesskey="n">Qualification Round 2</a></div>
            <div id="leftcolumn">
		        <span id="left-header" class="left-title">Fast Rats</span>
                <div class="table-row">
            	    <span id="left-header" class="rank">Rank</span>
            	    <span id="left-header" class="team">Team</span>
                    <span id="left-header" class="total_score">Total</span>
                    <span id="left-header" class="round_score">Round</span>
                    <span id="left-header" class="critical_path">Crit Path</span>
                    <span id="left-header" class="critical_time">Crit Time</span>
                    <span id="left-header" class="search_path">Srch Path</span>
                    <span id="left-header" class="search_time">Srch Time</span>
                    <span id="left-header" class="penalty">Penalty</span>
                </div> 
                <ul id="fastboard"></ul>
            </div>

            <div id="rightcolumn">
		        <span id="right-header" class="right-title">Smart Rats</span>
                <div class="table-row">
                    <span id="right-header" class="rank">Rank</span>
            	    <span id="right-header" class="team">Team</span>
                    <span id="right-header" class="total_score">Total</span>
                    <span id="right-header" class="round_score">Round</span>
                    <span id="right-header" class="critical_path">Crit Path</span>
                    <span id="right-header" class="critical_time">Crit Time</span>
                    <span id="right-header" class="search_path">Srch Path</span>
                    <span id="right-header" class="search_time">Srch Time</span>
	                <span id="right-header" class="easter_egg">Easter Egg</span>
                    <span id="right-header" class="penalty">Penalty</span>
                </div>
                <ul id="smartboard"></ul>
            </div>
        </div>        



        <script type="text/javascript">
        var RANK=0, TEAM=1, TOT=2, RND=3, CPATH=4, CTIME=5, SPATH=6, STIME=7, PNLTY=8, PREQ=9, DISQ=10;
        var SRANK=0, STEAM=1, STOT=2, SRND=3, SCPATH=4, SCTIME=5, SSPATH=6, SSTIME=7, SEEGG=8, SPNLTY=9, SPREQ=10, SDISQ=11;

            poll();

            function poll()
            {


                   //FAST RATS 
                   $.ajax ({
                    url: '/robotics_scoreboard/fastRatsRound2',
                    dataType: 'json',
                    success: function(o) {

                        var scores = [];
                        for (i = 0; i < o.length; i++) {scores.push(o[i].total_score);}
                        var sorted = scores.slice().sort(function(a,b){return b-a});
                        var ranks = scores.slice().map(function(v){ return sorted.indexOf(v)+1 });

                        for(i=0;i<o.length;i++)
                        {
                            if ($('#fastRat-'+o[i].id).length == 0)
                            {
                                // this id doesn't exist, so add it to our list.
                                $("#fastboard").append(
                                                         '<li class="table-row" id= "fastRat-' + o[i].id + '">'+
                                                            '<span class="rank">' + ranks[i] + '</span>'+
                                                            '<span class="team">' + o[i].team + '</span>'+
                                                            '<span id="total_column" class="total_score">' + o[i].total_score + '</span>'+
                                                            '<span id="round_column" class="round_score">' + o[i].round_score + '</span>'+
                                                            '<span class="critical_path">' + o[i].critical_path+ '</span>'+
                                                            '<span class="critical_time">' + o[i].critical_time + '</span>'+
                                                            '<span class="search_path">'+ o[i].search_path + '</span>'+
                                                            '<span class="search_time">'+ o[i].search_time + '</span>'+
                                                            '<span class="penalty">' + o[i].penalty + '</span>'+
                                                            '<span class="prequalified">' + o[i].in_final + '</span>'+
                                                            '<span class="disqualified">' + o[i].disqualified + '</span>'+
                                                         '</li>');
                            }
                            else
                            {
                                // this id does exist, so update 'score' count in the h1 tag in the list item.
                                $('#fastRat-'+o[i].id).find(".rank").html(ranks[i]); 
                                $('#fastRat-'+o[i].id).find(".total_score").html(o[i].total_score);
                                $('#fastRat-'+o[i].id).find(".round_score").html(o[i].round_score);
                                $('#fastRat-'+o[i].id).find(".critical_path").html(o[i].critical_path); 
                                $('#fastRat-'+o[i].id).find(".critical_time").html(o[i].critical_time); 
                                $('#fastRat-'+o[i].id).find(".search_path").html(o[i].search_path);
                                $('#fastRat-'+o[i].id).find(".search_time").html(o[i].search_time);
                                $('#fastRat-'+o[i].id).find(".penalty").html(o[i].penalty); 
                                $('#fastRat-'+o[i].id).find(".prequalified").html(o[i].in_final); 
                                $('#fastRat-'+o[i].id).find(".disqualified").html(o[i].disqualified);
                            }
                        }
                        sort('ul#fastboard');

                    },
                });

                //SMART RATS
                $.ajax ({
                    url: '/robotics_scoreboard/smartRatsRound2',
                    //url: '/robotics_scoreboard/fastRatsRound2',
                    dataType: 'json',
                    success: function(o) {

                        var scores = [];
                        for (i = 0; i < o.length; i++) {scores.push(o[i].total_score);}
                        var sorted = scores.slice().sort(function(a,b){return b-a});
                        var ranks = scores.slice().map(function(v){ return sorted.indexOf(v)+1 });

                        for(i=0;i<o.length;i++)
                        {
                            if ($('#smartRat-'+o[i].id).length == 0)
                            {
                                // this id doesn't exist, so add it to our list.
                                $("#smartboard").append(
                                                         '<li class="smart-table-row" id= "smartRat-' + o[i].id + '">'+
                                                            '<span class="rank">' + ranks[i] + '</span>'+
                                                            '<span class="team">' + o[i].team + '</span>'+
                                                            '<span id="total_column" class="total_score">' + o[i].total_score + '</span>'+
                                                            '<span id="round_column" class="round_score">' + o[i].round_score + '</span>'+
                                                            '<span class="critical_path">' + o[i].critical_path+ '</span>'+
                                                            '<span class="critical_time">' + o[i].critical_time + '</span>'+
                                                            '<span class="search_path">'+ o[i].search_path + '</span>'+
                                                            '<span class="search_time">'+ o[i].search_time + '</span>'+
                                                            '<span class="easter_egg">'+ o[i].easter_egg + '</span>'+
                                                            '<span class="penalty">' + o[i].penalty + '</span>'+
                                                            '<span class="prequalified">' + o[i].in_final + '</span>'+
                                                            '<span class="disqualified">' + o[i].disqualified + '</span>'+
                                                         '</li>');
                            }
                            else
                            {
                                // this id does exist, so update 'score' count in the h1 tag in the list item.
                                $('#smartRat-'+o[i].id).find(".rank").html(ranks[i]); 
                                $('#smartRat-'+o[i].id).find(".total_score").html(o[i].total_score);
                                $('#smartRat-'+o[i].id).find(".round_score").html(o[i].round_score);
                                $('#smartRat-'+o[i].id).find(".critical_path").html(o[i].critical_path); 
                                $('#smartRat-'+o[i].id).find(".critical_time").html(o[i].critical_time); 
                                $('#smartRat-'+o[i].id).find(".search_path").html(o[i].search_path);
                                $('#smartRat-'+o[i].id).find(".search_time").html(o[i].search_time);
                                $('#smartRat-'+o[i].id).find(".easter_egg").html(o[i].easter_egg);
                                $('#smartRat-'+o[i].id).find(".penalty").html(o[i].penalty); 
                                $('#smartRat-'+o[i].id).find(".prequalified").html(o[i].in_final); 
                                $('#smartRat-'+o[i].id).find(".disqualified").html(o[i].disqualified);
                            }
                        }
                        ssort('ul#smartboard');

                    },
                });


                // play it again, sam
                var t=setTimeout("poll()",5000);
                var width = $(window).width() - 25; $("#scoreboard").width(width);
            }



   

        function sort(listname)
        {
            var $Ul = $(listname);
            $Ul.css({position:'relative',height:$Ul.height(),display:'block'});
            var iLnH;
            var $Li = $(listname+'>li');
            $Li.each(function(i,el){
                     var iY = $(el).position().top; 
                     $.data(el,'h',iY);
                     if (i===1) iLnH = iY;
                     }); 


            tinysort(listname+'>li').forEach(function(el, i){
                                                      var $El = $(el); 
                                                      var iFr = $.data(el,'h'); iFr = Number(iFr.toFixed(0)); 
                                                      var iTo = i*iLnH;
                                                     $El.css({position:'absolute',top:iFr}).animate({top:iTo}, {duration: 2500, complete:function() {el.style.color="black"; el.style.backgroundColor = 'white'; el.style.zIndex = 0; if (i%2==1) {el.style.backgroundColor='#ddd';} if (el.children[PREQ].innerHTML === "true") el.style.backgroundColor = 'gold'; if (el.children[DISQ].innerHTML === "true") {  /*el.style.color='white'; el.style.backgroundColor = '#999';*/el.style.color='Red'; el.style.backgroundColor = 'black';}}, progress:function(){if (iFr > iTo) {el.style.color="white"; el.style.backgroundColor = 'green'; el.style.zIndex = 5;} }  } );
            });  
        }



        function ssort(listname)
        {
            var $Ul = $(listname);
            $Ul.css({position:'relative',height:$Ul.height(),display:'block'});
            var iLnH;
            var $Li = $(listname+'>li');
            $Li.each(function(i,el){
                     var iY = $(el).position().top; 
                     $.data(el,'h',iY);
                     if (i===1) iLnH = iY;
                     }); 


            tinysort(listname+'>li').forEach(function(el, i){
                                                      var $El = $(el); 
                                                      var iFr = $.data(el,'h'); iFr = Number(iFr.toFixed(0)); 
                                                      var iTo = i*iLnH;
                                                     $El.css({position:'absolute',top:iFr}).animate({top:iTo}, {duration: 2500, complete:function() {el.style.color="black"; el.style.backgroundColor = 'white'; el.style.zIndex = 0; if (i%2==1) {el.style.backgroundColor='LightPink';} if (el.children[SPREQ].innerHTML === "true") el.style.backgroundColor = 'gold'; if (el.children[SDISQ].innerHTML === "true") {  el.style.color='Red'; el.style.backgroundColor = 'black';}}, progress:function(){if (iFr > iTo) {el.style.color="white"; el.style.backgroundColor = 'green'; el.style.zIndex = 5;} }  } );
            });  
        }



        </script>


    </body>
</html>










